@media (prefers-color-scheme: light) { :root {
	--main-bg-color: rgb(249, 249, 249);
	--private-bg-color: rgb(185, 122, 255);
}}
@media (prefers-color-scheme: dark) { :root {
	--main-bg-color: rgb(24, 26, 27);
	--private-bg-color: rgb(37, 0, 62);
}}

@-moz-document url(about:newtab), url(about:blank) {
	body {
		background-color: var(--main-bg-color) !important;
		overflow-y: hidden !important;
	}
	body * {
		display: none !important;
	}
}

@-moz-document url(about:privatebrowsing) {
	html {
		--in-content-page-background: var(--private-bg-color) !important;
	}
}

@media (prefers-color-scheme: dark) {
	/* invert colors in PDF viewer */
	#viewerContainer > #viewer .page > .canvasWrapper > canvas {
		filter: invert(82%);
	}
}