@media (prefers-color-scheme: light) { :root {
	--main-bg-color: rgb(249, 249, 249);
	--border-color: rgb(180, 180, 180);
	--highlight-color: #ddd;
	--private-mode-bg-color: rgb(185, 122, 255);
}}

@media (prefers-color-scheme: dark) { :root {
	--main-bg-color: rgb(24, 26, 27);
	--border-color: rgb(60, 60, 60);
	--highlight-color: #222;
	--private-mode-bg-color: rgb(37, 0, 62);
}}

:root {
	--sidebar-width: 225px;
	--navbar-icon-width: 28px;
	--navbar-height: 28px;
	--border-width: 1px;
	--navbar-alignment: 0px;
	
	--urlbar-offset: 106px; /* used for autocomplete alignment */
	--content-offset: calc(var(--navbar-height) + var(--border-width));
}

#main-window[privatebrowsingmode="temporary"] {
	--main-bg-color: var(--private-mode-bg-color);
}


/* Remove navbar and sidebar in popup and fullscreen windows. */
:root[chromehidden*="location"] #navigator-toolbox,
:root[sizemode="fullscreen"] #navigator-toolbox {
	visibility: collapse;
}

:root[chromehidden*="location"] #sidebar-box,
:root[sizemode="fullscreen"] #sidebar-box {
	visibility: collapse;
}

:root[chromehidden*="location"] #browser,
:root[sizemode="fullscreen"] #browser {
	top: 0 !important;
}

:root[chromehidden*="location"] #tabbrowser-tabbox,
:root[sizemode="fullscreen"] #tabbrowser-tabbox {
	height: 100% !important;
}


/* navbar  { */
	#navigator-toolbox {
		display: block;
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(var(--navbar-height) + var(--border-width));
		/* Leave room for the sidebar */
		padding-left: var(--sidebar-width);
		/* displays as border-box, border will be inset */
		border-bottom: var(--border-width) solid var(--border-color) !important;
		background-color: var(--main-bg-color) !important;
	}
	
	#nav-bar {
		width: 100%;
		height: 100%;
		background-color: transparent !important;
	}

	/* Remove navbar if it should be hidden (e.g. in popup windows). */
	:root[chromehidden*="location"] #navigator-toolbox-background {
		visibility: collapse;
	}
	
	#urlbar-background {
		background-color: var(--main-bg-color) !important;
		border: none !important;
		outline: none !important;
	}
	
	.urlbarView-body-inner {
		border-top: none !important;
	}

	#urlbar {
		top: 2px !important;
	}

	#urlbar:not([open]) {
		/* for some reason, the bottom of the urlbar overlaps the border of the navbar
		   (even though visually it doesn't), and moving the urlbar up looks weird, so
		   we just add the border back; very hacky */
		border-bottom: var(--border-width) solid var(--border-color) !important;
	}

	.urlbarView {
		top: var(--border-width) !important;
		--item-padding-start: var(--urlbar-offset) !important;
		border: none !important;
	}
	
	.urlbarView-row[selected] {
		background-color: var(--highlight-color) !important;
	}
	
	.urlbarView-row-inner {
		background-color: transparent !important;
	}
	
	#TabsToolbar {
		visibility: collapse;
	}
	

	/* navbar button alignment { */
		toolbarbutton {
			margin-top: calc(var(--navbar-alignment) + 4px) !important;
			padding: 0px 2px !important;
		}

		#PanelUI-button {
			margin-top: calc(var(--navbar-alignment) + 2px) !important;
		}

		#unified-extensions-button {
			margin-top: calc(var(--navbar-alignment) + 4px) !important;
		}

		#pageAction-urlbar-_testpilot-containers {
			display: none;
		}

		#urlbar-zoom-button {
			margin-top: calc(var(--navbar-alignment) - 1px) !important;
		}

		#reader-mode-button {
			margin-top: calc(var(--navbar-alignment) + 0px) !important;
		}

		#stop-reload-button {
			margin-top: calc(var(--navbar-alignment) - 2px) !important;
		}

		#forward-button, #back-button {
			position: relative;
			top: -3px !important;
			height: var(--navbar-height);
		}

		#urlbar-searchmode-switcher {
			display: none !important;
		}
	/* } */
/* } */



/* sidebar { */
	#sidebar-box {
		position: relative;
		/* compensate for shifting the whole #browser below */
		top: calc(-1 * var(--content-offset));
		width: var(--sidebar-width) !important;
		border-right: var(--border-width) solid var(--border-color);
	}

	/* useful for styling based on whether it's visible */
	/* #sidebar-box[hidden=true] {} */

	#sidebar-header {
		display: none;
	}

	#sidebar-splitter {
		visibility: collapse;
	}
/* } */

/* content { */
	#browser {
		/* without this, browser will be in front of the navbar and make it unusable */
		top: var(--content-offset) !important;
		background-color: var(--main-bg-color) !important;
	}

	#tabbrowser-tabbox {
		/* without this, content will overflow bottom of the screen */
		height: calc(100% - var(--content-offset)) !important;
	}
/* } */